var _serverIP = '0.0.0.0'; //this is only used for output to the console, is not used for binding yet
var _serverPort = 80;
var _localPort = 8100;
var _localTimeout = 2000;
var _secureStats = true;
var _statsPass = 'stats'; //can send as post body or ?pass=
var _whitelistPass = ''; //have to send as: ?wlpass
var _serverConnectionLimit = 4096;